.card {
	width: 250px;
	margin: 10px 10px 20px 10px;
	cursor: pointer;
}

.image {
	height: 300px;
}

.header span {
	width: 220px;
	font-family: 'Roboto Slab';
	color: #242424;
	font-size: 16px;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;
	text-align: center;
}

.durationWrapper {
	display: flex;
	justify-content: space-around;
	padding-bottom: 0;
	font-family: 'Roboto Slab';
	font-size: 14px;
	color: '#242424';
	text-transform: uppercase;
}

.duration {
	display: flex;
	align-items: center;
}

.icon {
	width: 20px;
	margin-right: 5px;
}
